body {
  text-align: center;
  font-family: "Avenir Next";
  background-color: #303040;

}

img {
  border-radius: 16px;
  margin-top: 2%;
  border: 1px solid #aaaaaa;
}

p {
  font-size: 1.3em;
}

button {
  font-size: 1.3em;
  margin-top: 2%;
  margin-bottom: 10px;
}

p, h1, h2, h3, h4, h5, h6, label, a{
  color: #f0f0cf;
}

.broke-btn {
  margin-right: 3.5%;
}

li {
  text-decoration: none;
}

.glyphicon {
  color: orange;
}

.cost {
  color: green;
}
